@use "./variables" as *;

//MOBILE M
@media screen and (min-width: 375px)  and (max-width: 667px){
  .footer {
    background-color: $primary-color;
    height: 100px;

    &__groupItems {
    padding: 20px 90px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    }

    &__icons {
      height: 55px;
    }
  }
}

//LAPTOP-L/DESKTOP
@media screen and (min-width: 1440px){
  .footer {
    background-color: $primary-color;
    height: 100px;

    &__groupItems {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 25px 0px;
    }

    &__icons {
      height: 55px;
      margin: 0 10px;
    }
  }
}