@use "./variables" as *;

.header {
  display: flex;
  flex-direction: column;
  justify-content: start;


  &__title {
    font-family: $font-title;
    font-size: 65px;
    font-weight: lighter;
    margin-top:20px;
    margin-bottom: 20px;
  }

  &__description {
    margin-top:40px;
    margin-bottom: 40px;
    font-size: 14px;
    letter-spacing: 0.05em;
    font-weight: lighter;
  }

  .letter__darkGrey{
    color: $gray-color ;
  }

  .letter__lightGrey {
    color: $gray-light-color ;
  }
  .letter__sand {
    color: $sand-color ;
  }

  hr {
    display: none;
  }
}


//LAPTOP-L/DESKTOP
@media screen and (min-width: 768px){
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;

    hr {
      width: 100vw;
      margin: 20px 0;
      border-style: dotted none none;
      border-width: 5px;
    }
    &__title {
      font-family: $font-title;
      font-size: 65px;
      font-weight: lighter;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    &__description {
      font-size: 18px;
      font-weight: lighter;
      margin-bottom: 50px;
      letter-spacing: 0.05em;
      text-align: center;
    }
  }
}