@use "./variables" as *;

.main {
  display: flex;
  flex-direction: column;

  &__title {
    font-family: $font-title;
    font-weight: lighter;
    font-size: 32px;
    margin-bottom: 40px;
  }

  &__aboutSection {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  &__profileImg {
    width: 300px;
    margin-bottom: 40px;
    align-self: center;
  }

  &__description {
    font-size: 14px;
    margin-bottom: 40px;
    letter-spacing: 0.05em;
    font-weight: lighter;
    font-style: italic;
  }

  &__skillsSection {
    display:none;
  }

  &__card {
    margin-bottom: 15px;
    background-color: #90909047;
    padding: 0 10px;
    padding-bottom: 10px;
  }

  &__title--portfolio {
    font-weight:900;
    text-shadow: 15px solid black;
    margin-top: 40px;
    margin-bottom: 5px;
  }

  &__img {
    margin: 10px 0;
    width: 280px;
    height: 270px;
    align-self: center;
    filter: grayscale(40%);
  }

  &__cardTittle {
    font-family: $font-title;
    font-weight: lighter;
    margin-bottom: 10px;
    font-size: 22px;
    margin-right: 10px;
  }

  &__programingInfo {
    display: none;
  }

  &__divProject {
    display:flex ;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__contactSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__contactTitle {
    margin: 20px 20px 40px 20px;
    font-size: 80px;
    font-family: $font-title;
    font-weight: lighter;
    text-align: center;
  }

  &__button{
    background-color: $background-color;
    font-family: $font-text;
    font-size: 18px;
    border: 1px solid black;
    padding: 25px 80px;
    margin-bottom: 40px;
  }

  &__button:hover{
    background-color: $gray-color;
    border: 1px solid $gray-color;
    color: $background-color;
  }

  &__portfolioSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px;
    padding-right: 5px;
    padding-bottom: 10px;
  }

  &__title--portfolio {
    align-self: start;

  }
  .letter__darkGrey{
    color: $gray-color ;
  }
  .letter__lightGrey {
    color: $gray-light-color ;
  }

  .letter__sand {
    color: $sand-color ;
  }

  .bottomHr {
    margin-top: 30px;
  }
}


//LAPTOP-L/DESKTOP
@media screen and (min-width: 1440px){
  .main {
//&ABOUT SECTION
    &__aboutSection {
      display: grid;
      gap: 0.2rem;
      grid-template-areas:
        "h2 img"
        "p1 img"
        "p2 img";
      grid-template-rows: 1fr 1fr 1fr ;
      grid-template-columns: 2fr 1fr;
      // margin-top: 40px;
    }

    &__title--about {
      grid-area: h2;
      // padding-top: 50px;
    }

    &__profileImg--aboutPh {
      grid-area: img;
      width: 25vw;
      align-content: center;
      letter-spacing: 0.05em;
      padding-top: 50px;
    }

    &__description--about1{
      grid-area: p1;
      margin-right: 50px;
      font-size: 18px;
      letter-spacing: 0.05em;
    }

    &__description--about2{
      grid-area: p2;
      margin-right: 50px;
      font-size: 18px;
    }
//&GENERAL CLASSES FOR TITLE & DESCRITPTION
    &__title {
      font-family: $font-title;
      font-weight: lighter;
      font-size: 48px;
      margin-bottom: 40px;
    }

    &__description {
      font-size: 18px;
      margin-bottom: 30px;
      letter-spacing: 0.05em;
    }
//&SKILLS SECTION
    &__skillsSection {
      margin: 100px 0;
    }

    &__skillsContentText {
      display: flex;
      align-items: center;

      h2 {
        justify-self: start;
        margin-right: 120px;
      }

      p {
        justify-self: end;
      }
    }

    &__skillsIcons {
      display: flex;
      justify-content:center;
      margin: 20px 0;
    }

    &__skillsImg {
      padding: 0 20px;
      height: 100px;
    }
//&PORTFOLIO SECTION
    &__portfolioSection {
      background-color: #90909047;
      padding: 0px 20px;
      padding-bottom: 20px;
    }
    &__title--portfolio {
      font-weight:900;
      text-shadow: 15px solid black;
      margin-bottom: 15px;
      font-size: 48px;
      padding-bottom: 10px;
    }

    &__card {
      margin-bottom: 15px;
      background-color: white;
    }

    &__allCards{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 2px;
    }

    &__img {
      margin: 20px 0;
      width: 400px;
      height: 300px;
      filter: grayscale(40%);
      padding: 0 10px;
    }

    &__cardTittle {
      font-family: $font-title;
      font-weight: lighter;
      margin-bottom: 10px;
      font-size: 32px;
      padding-left: 10px;
    }

    &cardIcons {
      padding-right: 10px;
    }

    &__divProject {
      display:flex ;
      justify-content: space-between;
      padding-right: 10px;

      img {
        padding-left: 8px;
        width: 45px;
      }
    }

    &__programingInfo {
      font-family: $font-text;
      font-size: 14px ;
      padding: 10px 10px;
      margin: 15px 0;
    }

    span {
      margin: 10px 0px;
    }
//&CONTACT SECTION
    &__contactSection {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__contactTitle {
      margin: 60px 20px 40px 20px;
      font-size: 128px;
      font-family: $font-title;
      font-weight: lighter;
      text-align: center;
    }

    &__button{
      background-color: $background-color;
      font-family: $font-text;
      font-size: 24px;
      border: 1px solid black;
      padding: 25px 100px;
      margin-bottom: 70px;
    }

    &__button:hover{
      background-color: $gray-color;
      border: 1px solid $gray-color;
      color: $background-color;
    }

    .bottomHr{
      margin-top: 100px;
    }
    .mediumHr {
      margin-top: 50px;
      margin-bottom: 100px;
    }
  }


}