@use "./variables" as *;

.main {
  display: flex;
  flex-direction: column;

  &__title {
    font-family: $font-title;
    font-weight: lighter;
    font-size: 32px;
    margin-bottom: 40px;
  }

  &__aboutSection--container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
  }

  &__profileImg {
    width: 300px;
    margin-bottom: 40px;
    align-self: center;
    margin-top: 30px;
    border-radius: 50%;
  }

  &__description {
    font-size: 14px;
    margin-bottom: 20px;
    letter-spacing: 0.05em;
    font-weight: lighter;
    font-style: italic;
    text-align: start;
  }

  &__skillsSection {
    display:none;
  }

  &__card {
    margin-bottom: 15px;
    background-color: #90909047;
    padding: 0 10px;
    padding-bottom: 10px;
  }

  &__title--portfolio {
    font-weight:900;
    text-shadow: 15px solid black;
    margin-top: 40px;
    margin-bottom: 5px;
  }

  &__img {
    margin: 10px 0;
    width: 280px;
    height: 270px;
    align-self: center;
    filter: grayscale(40%);
  }

  &__cardTittle {
    font-family: $font-title;
    font-weight: lighter;
    margin-bottom: 10px;
    font-size: 20px;
    margin-right: 10px;
  }

  &__programingInfo {
    display: none;
  }

  &__divProject {
    display:flex ;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__contactSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__contactTitle {
    margin: 20px 20px 30px 20px;
    font-size: 70px;
    font-family: $font-title;
    font-weight: lighter;
    text-align: center;
  }

  &__button{
    background-color: $background-color;
    font-family: $font-text;
    font-size: 12px;
    border: 1px solid black;
    padding: 20px 40px;
    margin-bottom: 30px;
  }

  &__button:hover{
    background-color: $gray-color;
    border: 1px solid $gray-color;
    color: $background-color;
  }

  &__portfolioSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    justify-content: space-evenly;
  }

  &__title--portfolio {
    align-self: start;
    margin-bottom: 40px;
  }

  &__card--tech {
    color:black;
    font-family: $font-title;
    font-size: smaller;
    padding: 15px 0px;
    padding-bottom: 15px;

  }

  .letter__darkGrey{
    color: $gray-color ;
  }

  .letter__lightGrey {
    color: $gray-light-color ;
  }

  .letter__sand {
    color: $sand-color ;
  }

 hr {
  display: none;
 }
}


@media screen and (min-width: 1440px){
  .main {
//&ABOUT SECTION

    &__aboutSection--container {
      display: unset;
      display: flex!important;
      flex-direction: row;
      justify-content: space-between;
      padding-right: 100px;
      margin-top: -30px !important;
    }
    &__profileImg--aboutPh {
      width: 400px;
      padding-bottom: 20px;
      border-radius: 50%;
    }

    &__description--about1{
      width: 60%;
      font-size: 22px;
      text-align: center;
      background-color: #e3d1b5c7;
      color: black;
      font-weight: lighter;
      letter-spacing: 1px;
      height: 300px;
      padding: 70px 20px;
    }

//&GENERAL CLASSES FOR TITLE & DESCRITPTION
    &__title {
      font-family: $font-title;
      font-weight: lighter;
      font-size: 40px;
      margin-bottom: 40px;
    }

    &__description {
      font-size: 18px;
      margin-bottom: 30px;
      letter-spacing: 0.05em;
    }
//&SKILLS SECTION

    &__skillsSection {
      display: flex;
      margin-bottom: 30px;
    }

    &__skillsContentText {
      display: flex;
      align-items: center;

      h2 {
        justify-self: start;
        margin-right: 120px;
      }

      p {
        justify-self: end;
      }
    }

    &__skillsIcons {
      display: flex;
      justify-content:center;
      margin: 20px 0;
    }

    &__skillsImg {
      padding: 0 20px;
      height: 100px;
    }


//&PORTFOLIO SECTION
    &__portfolioSection {
      background-color: #90909047;
      padding: 0px 20px;
      padding-bottom: 20px;
      align-items: center;
      justify-content: space-evenly;
    }

    &__title--portfolio {
      font-weight:900;
      text-shadow: 15px solid black;
      margin-bottom: 15px;
      font-size: 40px;
      padding-bottom: 10px;
    }

    &__card {
      margin-bottom: 15px;
      background-color: white;
    }

    &__allCards{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    &__img {
      margin: 20px 0;
      width: 380px;
      height: 280px;
      filter: grayscale(40%);
      padding: 0 10px;
    }

    &__cardTittle {
      font-family: $font-title;
      font-weight: lighter;
      margin-bottom: 10px;
      font-size: 26px;
      padding-left: 10px;
    }

    &cardIcons {
      padding-right: 10px;
    }

    &__divProject {
      display:flex ;
      justify-content: space-between;
      padding-right: 10px;

      img {
        padding-left: 8px;
        width: 45px;
      }
    }

    span {
      margin: 10px 0px;
    }

    &__card--tech {
      padding: 15px 10px;
      overflow: hidden;
      white-space: nowrap;
    }
//&CONTACT SECTION
    &__contactSection {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__contactTitle {
      font-size: 80px;
      font-family: $font-title;
      font-weight: lighter;
      text-align: center;
    }

    &__button{
      background-color: $background-color;
      font-family: $font-text;
      font-size: 14px;
      border: 1px solid black;
      padding: 20px 50px;
      margin-bottom: 20px;
    }

    &__button:hover{
      background-color: $gray-color;
      border: 1px solid $gray-color;
      color: $background-color;
    }

    .bottomHr{
      margin-top: 60px;
      border-style: dotted none none;
      border-width: 5px;
    }

    .mediumHr {
      display: flex;
      margin-bottom: 30px;
      border-style: dotted none none;
      border-width: 5px;
    }

    .mediumHr--laptopView {
      display: flex;
      margin-bottom: 40px;
      border-style: dotted none none;
      border-width: 5px;
    }
  }

}