@use "./variables" as *;

.main {
  display: flex;
  flex-direction: column;

  &__title {
    font-family: $font-title;
    font-weight: lighter;
    font-size: 32px;
    margin-bottom: 40px;
  }

  &__profileImg {
    width: 335px;
    margin-bottom: 40px;
    align-self: center;
  }

  &__description {
    font-size: 16px;
    margin-bottom: 40px;
  }

  &__skillsSection {
    display:none;
  }

  &__title--portfolio {
    font-weight:900;
    text-shadow: 15px solid black;
    margin-top: 40px;
    margin-bottom: 5px;
  }
  
  &__img {
    margin: 20px 0;
  }

  &__cardTittle {
    font-family: $font-title;
    font-weight: lighter;
    margin-bottom: 10px;
    font-size: 32px;
  }

  &__divProject {
    display:flex ;
    justify-content: space-between;
  }

}
